$aside-gray: #1f1f23;
$aside-text: #adadb8;
$bg-black: #0e0e10;
$bg-footer: #772ce8;
$def-font: #efeff1;
$main-link: #b992ff;
$nav-active: #bb91fa;
$nav-active-h: #772ce8;
$nav-gray: #18181b;
$nav-logo: #a970ff;
$nav-sign: #9147ff;
$search-b-gray: #3a3a3d;
$search-gray: #464649;