:root {
    --def-font: #efeff1;
    --nav-gray: #18181b;
    --nav-sign: #9147ff;
    --nav-logo: #a970ff;
    --nav-active: #bb91fa;
    --nav-active-h: #772ce8;
    --search-gray: #464649;
    --search-b-gray: #3a3a3d;
    --bg-black: #0e0e10;
    --aside-gray: #1f1f23;
    --aside-text: #adadb8;
    --main-link: #b992ff;
    --footer-bg: #772ce8;
}

nav {
    background: var(--nav-gray);
}

.fa-twitch {
    color: var(--nav-logo);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--def-font);
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav{
    color: var(--nav-active);
}

nav form {
    width: 25%;
}

.form-control {
    background: var(--search-gray);
}

.dropdown-menu-dark {
    background: var(--nav-gray);
}

.btn-primary {
    background-color: var(--nav-sign);
}

.btn-primary:hover {
    background-color: var(--nav-active-h);
}

.btn-secondary {
    background-color: var(--search-b-gray);
}

#aside {
    background-color: var(--aside-gray);
    color: var(--def-font);
    min-height: 100vh;
}

.channels a {
    text-decoration: none;
}

.channels .card, .channels {
    background-color: var(--aside-gray);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 100vw;
    margin: 0;
}

.card-title {
    color: var(--def-font);
}

.card-text {
    color: var(--aside-text);
}

.card-rec {
    color: red;
}

#main, #main .card, #main h5 {
    background-color: var(--bg-black);
}

#main a {
    text-decoration: none;
}

.carousel-inner img {
    margin: 20px auto;
}

#main-category {
    color: var(--main-link);
}

footer {
    background-color: var(--footer-bg);
}